<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Prueba CMS</title>
  <link rel="stylesheet" href="/estilosprueba.css">
</head>

<body>

  <h1>Mi primera prueba con 11ty</h1>

  <p>Este contenido después lo vamos a editar desde un CMS.</p>

</body>
</html>