---
permalink: /indexprueba.html
---

<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Prueba CMS</title>
  <link rel="stylesheet" href="/estilosprueba.css">
</head>

<body>

  <h1>🚀 jGENERADO POR ELEVENTY</h1>

  <p>Si estás viendo esto, 11ty está funcionando correctamente.</p>

</body>
</html>